<div class="profile-subheader">
    <div class="subheader-start is-hidden-mobile">
        <span id="timeline-profile-friendcount"></span>
        <span>Friends</span>
    </div>
    <div class="subheader-middle">
        <h2 id="timeline-profile-name"></h2>
        <span id="timeline-profile-handle"></span>
    </div>
    <div class="subheader-end is-hidden-mobile">
        <a class="button has-icon is-bold modal-trigger" data-modal="add-connection-modal">
            <i data-feather="plus-circle"></i>
            Add Connection
        </a>
    </div>
</div>
