<div class="navbar-item is-icon drop-trigger">
    <a class="icon-link is-friends" href="javascript:void(0);">
        <i data-feather="heart"></i>
        <span class="indicator"></span>
    </a>

    <div class="nav-drop is-right">
        <div class="inner">
            <div class="nav-drop-header">
                <span>Friend requests</span>
                <a href="#">
                    <i data-feather="search"></i>
                </a>
            </div>
            <div class="nav-drop-body is-friend-requests">
            </div>
            <div class="nav-drop-footer">
                <!--a href="#">View All</a-->
            </div>
        </div>
    </div>
</div>
