<div class="navbar-item is-icon drop-trigger">
    <a class="icon-link is-notifications" href="javascript:void(0);">
        <i data-feather="bell"></i>
        <span class="indicator"></span>
    </a>

    <div class="nav-drop is-right">
        <div class="inner">
            <div class="nav-drop-header">
                <span>Notifications</span>
                <a href="#">
                    <i data-feather="bell"></i>
                </a>
            </div>
            <div class="nav-drop-body notifications">
            </div>
            <div class="nav-drop-footer">
                <a href="#">View All</a>
            </div>
        </div>
    </div>
</div>
