<!-- Concatenated js plugins and jQuery -->
<script src="{{deploy.bucket_path}}{{ root }}assets/js/app.js?_={{deploy.cache_bust}}"></script>
<!--script src="https://js.stripe.com/v3/"></script-->
<script src="{{deploy.bucket_path}}{{ root }}assets/data/tipuedrop_content.js?_={{deploy.cache_bust}}"></script>

<!-- Core js -->
<script src="{{deploy.bucket_path}}{{ root }}assets/js/global.js?_={{deploy.cache_bust}}"></script>

<!-- Navigation options js -->
<script src="{{deploy.bucket_path}}{{ root }}assets/js/navbar-v1.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/navbar-v2.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/navbar-mobile.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/navbar-options.js?_={{deploy.cache_bust}}"></script>

<!-- Core instance js -->
<script src="{{deploy.bucket_path}}{{ root }}assets/js/main.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/chat.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/touch.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/tour.js?_={{deploy.cache_bust}}"></script>

<!-- Components js -->
<script src="{{deploy.bucket_path}}{{ root }}assets/js/explorer.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/widgets.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/modal-uploader.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/popovers-users.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/popovers-pages.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/lightbox.js?_={{deploy.cache_bust}}"></script>

<!-- Landing page js -->
{{#ifpage 'index'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/landing.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- Signup page js -->
{{#ifpage 'signup'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/signup.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- Login page js -->
{{#ifpage 'login-boxed'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/api.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/login.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- signup page js -->
{{#ifpage 'signup-v2'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/api.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/signup-v2.js?_={{deploy.cache_bust}}"></script>
<!-- load signup shit here -->
{{/ifpage}}

<!-- Feed pages js -->
{{#ifpage 'navbar-v1-feed' 'navbar-v1-feed-sidebar' 'navbar-v1-feed-slider'
'navbar-v1-profile-main' 'navbar-v1-pages-main' 'navbar-v2-feed'
'navbar-v2-feed-sidebar' 'navbar-v2-feed-slider' 'navbar-v2-profile-main'
'navbar-v2-pages-main' 'sidebar-v1-feed' 'sidebar-v1-profile-main'
'sidebar-v1-pages-main' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/feed.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}} {{#ifpage 'navbar-v1-feed' 'navbar-v1-feed-sidebar' 'navbar-v2-feed'
'navbar-v2-feed-sidebar' 'sidebar-v1-feed' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/api.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/webcam.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/compose.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/autocompletes.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- profile js -->
{{#ifpage 'navbar-v1-profile-main' 'navbar-v1-profile-about'
'navbar-v1-profile-photos' 'navbar-v1-pages-main' 'navbar-v1-pages-about'
'navbar-v1-pages-community' 'navbar-v1-pages-photos' 'navbar-v2-profile-minimal'
'navbar-v2-profile-main' 'navbar-v2-profile-about' 'navbar-v2-profile-photos'
'navbar-v2-pages-main' 'navbar-v2-pages-about' 'navbar-v2-pages-community'
'navbar-v2-pages-photos' 'sidebar-v1-profile-minimal' 'sidebar-v1-profile-about'
'sidebar-v1-profile-friends' 'sidebar-v1-profile-photos'
'sidebar-v1-profile-main' 'sidebar-v1-pages-about' 'sidebar-v1-pages-community'
'sidebar-v1-pages-photos' 'sidebar-v1-pages-main' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/api.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/profile.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/compose.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- stories js -->
{{#ifpage 'navbar-v1-stories-main' 'navbar-v1-stories-story'
'navbar-v2-stories-main' 'navbar-v2-stories-story' 'sidebar-v1-stories-main'
'sidebar-v1-stories-story' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/stories.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- friends js -->
{{#ifpage 'navbar-v1-friends-grid-v1' 'sidebar-v1-friends-grid-v1'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/friends.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

{{#ifpage 'navbar-v2-profile-friends'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/api.js?_={{deploy.cache_bust}}"></script>
<script src="{{deploy.bucket_path}}{{ root }}assets/js/profile-friends.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- questions js -->
{{#ifpage 'navbar-v1-questions-categories' 'navbar-v1-questions-home'
'navbar-v1-questions-settings' 'navbar-v1-questions-single'
'navbar-v1-questions-stats' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/questions.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- video js -->
{{#ifpage 'navbar-v1-videos-home' 'navbar-v1-videos-home-v2'
'navbar-v1-videos-player' 'navbar-v2-videos-home' 'navbar-v2-videos-home-v2'
'navbar-v2-videos-player' 'sidebar-v1-videos-home' 'sidebar-v1-videos-home-v2'
'sidebar-v1-videos-player' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/videos.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- events js -->
{{#ifpage 'navbar-v1-event' 'navbar-v1-events' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/events.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- news js -->
{{#ifpage 'navbar-v1-news'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/news.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- shop js -->
{{#ifpage 'navbar-v1-ecommerce-cart' 'navbar-v1-ecommerce-checkout'
'navbar-v1-ecommerce-payment' 'navbar-v1-ecommerce-products'
'navbar-v2-ecommerce-cart' 'navbar-v2-ecommerce-checkout'
'navbar-v2-ecommerce-payment' 'navbar-v2-ecommerce-products'
'sidebar-v1-ecommerce-products' 'sidebar-v1-ecommerce-cart'
'sidebar-v1-ecommerce-checkout' 'sidebar-v1-ecommerce-payment' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/shop.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- inbox js -->
{{#ifpage 'inbox'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/inbox.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- settings js -->
{{#ifpage 'navbar-v1-settings-v1' 'sidebar-v1-settings-v1' }}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/settings.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- map page js -->
{{#ifpage 'navbar-v1-map-1' 'navbar-v1-map-2' 'navbar-v2-map-1'
'navbar-v2-map-2' 'sidebar-v1-map-1'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/map.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}

<!-- elements page js -->
{{#ifpage 'elements'}}
<script src="{{deploy.bucket_path}}{{ root }}assets/js/elements.js?_={{deploy.cache_bust}}"></script>
{{/ifpage}}
