<!--Avatar-->
<div class="card is-avatar-card">
  <div class="card-heading is-bordered">
    <h4>My Connections</h4>
  </div>
  <div class="card-body">
    <h3 class="has-text-centered" id="avatar-connection-name"></h3>
    <div class="profile-avatar-wrapper">
      <a class="button">
        <i data-feather="chevron-left"></i>
      </a>
      <div class="avatar-wrap">
        <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/jenna.png" data-user-popover="0"
                                                                                                    alt="">
        <div class="badge">
          <i data-feather="check"></i>
        </div>
      </div>
      <a class="button">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <!--Stats-->
    <div class="user-stats">
      <div class="stat-block">
        <span id="friend-card-post-count"></span>
        <span>Posts</span>
      </div>
      <div class="stat-block">
        <span>220k</span>
        <span>Followers</span>
      </div>
      <div class="stat-block">
        <span>197</span>
        <span>Following</span>
      </div>
    </div>
    <div class="button-wrap">
      <button class="button is-solid secondary-button is-fullwidth raised">Follow</button>
    </div>

    <!--Bio-->
    <div class="user-bio">
      <h4 id="feed-display-name"></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iam enim adesse poterit. Quis est tam dissimile homini. At ille pellit, qui permulcet sensum voluptate.</p>
      <a>friendkit.co/jennadavis</a>
    </div>
  </div>
</div>

